<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>蘑菇丁打卡 - 椰子鸡特别版</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="icon" th:href="@{/images/yzj.ico}">
</head>
<body>
    <div class="index">
        <div class="layui-anim layui-anim-upbit">
            <h2>自动打卡 - 椰子鸡特别版</h2>
        </div>
        <div class="layui-anim layui-anim-upbit">
            <div class="dialog">
                <form th:action="@{/saveUser}" method="post">
                    <input type="text" name="phone" required lay-verify="required" placeholder="输入手机号码" autocomplete="off" class="layui-input">
                    <input type="text" name="password" required lay-verify="required" placeholder="输入蘑菇钉密码" autocomplete="off" class="layui-input">
                    <input type="text" name="province" required lay-verify="required" placeholder="输入省份" autocomplete="off" class="layui-input">
                    <input type="text" name="city" required lay-verify="required" placeholder="输入城市" autocomplete="off" class="layui-input">
                    <input type="text" name="address" required lay-verify="required" placeholder="输入签到地址" autocomplete="off" class="layui-input">
                    <input type="text" name="description" required lay-verify="required" placeholder="发表的信息（可为空）" autocomplete="off" class="layui-input">
                    <input type="text" name="longitude" required lay-verify="required" placeholder="经度" autocomplete="off" class="layui-input">
                    <input type="text" name="latitude" required lay-verify="required" placeholder="维度" autocomplete="off" class="layui-input">
                    <button class="layui-btn layui-btn-normal">一键起飞</button>
                </form>
                推荐获取地址和经纬度的方式：http://api.map.baidu.com/lbsapi/getpoint/index.html
            </div>
        </div>
    </div>
</body>
</html>