<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" charset="UTF-8">
    <title>蘑菇丁打卡 - 椰子鸡特别版</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="css/index.css">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}" href="css/layui.css">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <link rel="icon" th:href="@{/images/yzj.ico}">
</head>
<body>
    <div class="index">
        <div class="layui-anim layui-anim-upbit">
            <h2>自动打卡 - 椰子鸡特别版</h2>
        </div>
        <div class="layui-anim layui-anim-upbit">
            <div id="dialog" class="dialog">
                <h3>起飞信息</h3>
                <form method="post" class="layui-form">
                    <input type="number" name="phone" required lay-verify="required" placeholder="输入手机号码(如: 18925800000)" autocomplete="off" class="layui-input">
                    <input type="text" name="password" required lay-verify="required" placeholder="输入蘑菇钉密码(如: 请谨慎填写,否则错误无法签到.)" autocomplete="off" class="layui-input">
                    <input type="text" name="province" required lay-verify="required" placeholder="输入省份(如: 广东省)" autocomplete="off" class="layui-input">
                    <input type="text" name="city" required lay-verify="required" placeholder="输入城市(如: 广州市)" autocomplete="off" class="layui-input">
                    <input type="text" name="address" required lay-verify="required" placeholder="输入签到地址(上班地点从市级开始)" autocomplete="off" class="layui-input">
                    <input type="text" name="description" placeholder="发表的信息（可为空）" autocomplete="off" class="layui-input">
                    <input type="text" name="longitude" required lay-verify="required" placeholder="经度(广州市的经度:113.273154)" autocomplete="off" class="layui-input">
                    <input type="text" name="latitude" required lay-verify="required" placeholder="维度(广州市的维度:23.134273)" autocomplete="off" class="layui-input">
                    <div class="layui-input" style="display: flex;justify-content: space-between">
                        <label class="layui-form-label" style="width: 36%;text-align: left; padding: 9px 0px !important;">是否填写邀请码</label>
                        <div class="layui-input-block" style="margin-right: 10px;">
                            <input type="checkbox" name="zzz" lay-skin="switch" lay-filter="isCode" lay-text="是|否">
                        </div>
                    </div>
                    <span id="vip" style="display: none; width: 100%;">
                        <input type="text" id="regcode" name="vipcode" placeholder="邀请码(邀请码由椰子鸡集团分发)" autocomplete="off" class="layui-input">
                        <input type="text" id="regweek" name="weeks" placeholder="输入周次&nbsp;(如: 第0周，发布周报时发布为第1周，有邀请码则必填&nbsp;注意格式)" autocomplete="off" class="layui-input">
                    </span>
                    <p>
                        获取地址和经纬度：<a href="http://api.map.baidu.com/lbsapi/getpoint/index.html" target="_blank" style="color: blue;">点我进入</a>
                    </p>
                    <p>
                        <a href="javascript:;" style="color: red;" id="goVip" data-method="offset" data-type="auto">我已有账号，想升级为VIP。</a>
                    </p>
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formSubmit">一键起飞</button>
                </form>
                <br>
                <p>&copy; 2020 椰子鸡集团 版权所有</p>
            </div>
        </div>
    </div>

    <!-- VIP 激活入口 -->
    <div id="reVip" style="display: none; padding: 10px;">
        <form class="layui-form layui-form-pane" method="post" lay-filter="activeVip">
            <div class="layui-form-item">
                <label class="layui-form-label" style="height: 35px; width: 80px">手机号</label>
                <div class="layui-input-block">
                    <input type="text" style="position: relative; left: -29px; width: 115% !important;" name="phone" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="height: 35px; width: 80px">周次</label>
                <div class="layui-input-block">
                    <input type="text" style="position: relative; left: -29px; width: 115% !important;" name="weeks" autocomplete="off" placeholder="请输入当前已发布的周次" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="height: 35px; width: 80px">邀请码</label>
                <div class="layui-input-block">
                    <input type="text" style="position: relative; left: -29px; width: 115% !important;" name="vipcode" autocomplete="off" placeholder="请输入邀请码" class="layui-input">
                </div>
            </div>

            <p>填写周数说明：如第0周，则下次自动发布时发布第1周的周报。</p>

            <button type="button" id="active" class="layui-btn layui-btn-normal" style="width: 346px !important;margin: 0;" lay-filter="formVip">激活</button>
        </form>
    </div>

    <!-- 公告栏 -->
    <div id="borad">
        <div style="padding: 25px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">
            <p>蘑菇钉自动签到由椰子鸡集团开发 <br/>每天早上 7:30 自动签到上班，下午 17:30 下班打卡。</p>
            <br/>
            <p>邀请码提供自动填写周报功能(文章以“上班”为关键字随机生成)每周一自动填报上交。具体获取方法<b style="color: red">扫以下二维码</b>进群直接联系管理员获取即可！</p>
            <br/>
            <p>椰子鸡集团现承包大学软件项目私单，开发人员具有丰富的答辩经验，可一对一指导。有意者直接加群联系群主即可，价格绝对比某宝和其他外包优惠且实在！</p>
            <br/>
            <img src="http://img.hwy-study.xyz/YZJ%20%E4%BB%A3%E5%81%9A%E4%BA%8C%E7%BB%B4%E7%A0%81.png" alt="QQ群二维码" style="width: 60%;margin-left: 55px;">
        </div>
    </div>

    <script th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
    <script>
        layui.use('layer', function(){ //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

            //触发事件
            var active = {
                offset: function(othis){
                    var type = othis.data('type')
                    layer.open({
                        type: 1
                        ,offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                        ,id: 'layerDemo'+type //防止重复弹出
                        ,content: $("#reVip")
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0 //不显示遮罩
                        ,title: "激活VIP"
                    });
                }
            };

            $('#goVip').on('click', function(){
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

        });
    </script>
    <script>
        var url = window.location.origin;
        // 测试环境下用 pj = "/"
        // var pj = "/mushroom/signin/";
        var pj = "/";

        layui.use(['layer', 'form', 'element'], function(){
            var layer = layui.layer
                ,form = layui.form
                ,element = layui.element
            // layer.msg('欢迎来到椰子鸡集团蘑菇钉打卡注册平台，填写邀请码即可自动每周发布周报。', {
            //     offset: 'auto',
            //     time: 3000
            // });

            layer.open({
                type: 1
                ,title: false //不显示标题栏
                ,closeBtn: false
                ,offset: 'auto'
                ,area: '350px;'
                ,shade: 0.8
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,btn: ['我已经知道了']
                ,btnAlign: 'c'
                ,moveType: 1 //拖拽模式，0或者1
                ,content: $("#borad")
            });

            form.render();
            // 监听指定开关
            form.on('switch(isCode)', function(data){
                if (this.checked) {
                    layer.tips('温馨提示：填写周数时请填写当前已发布的最高周数，因为发布时为当前周数+1。', data.othis)
                    $("#vip").slideDown();
                    $("#dialog").css({"height":"580px"});
                }
                else {
                    layer.tips('邀请码可以找内部人员获取', data.othis, { time: 1000 })
                    $("#vip").slideUp();
                    $("#regcode").val("");
                    $("#regweek").val("");
                    $("#dialog").css({"height":"500px"});
                }
            });
            // 激活 VIP
            // 表单取值
            layui.$('#active').on('click', function(){
                let week = /^第\d{1,2}周$/;
                var data = form.val('activeVip');
                let { phone, vipcode, weeks } = data;

                let tip = "";
                if (phone.length !== 11){
                    tip = '手机号格式不正确！';
                } else if (weeks.trim() !== '' && !week.test(weeks) || weeks.trim() === '') {
                    tip = '请周数按照：第0周 格式填写。';
                } else if (vipcode.trim() === '') {
                    tip = '请输入激活码'
                }
                if (tip === "") {
                    $.ajax({
                        url: url + pj +"activeVip",
                        method: "post",
                        data: data,
                        success: (res) => {
                            if (res.code !== 1) layer.msg(res.msg)
                            else layer.msg(res.data)
                        }
                    })
                } else {
                    layer.msg(tip);
                }
                // alert(JSON.stringify(data));
            });


            // 监听提交
            form.on('submit(formSubmit)', function(data){
                let re = /[^\u4E00-\u9FA5]/;
                let week = /^第\d{1,2}周$/;
                let tip = "";

                let {address, city, description, longitude, password, phone, province, vipcode, weeks} = data.field;
                if (phone.length !== 11) {
                    tip = '手机号格式不正确！';
                } else if (address.length < 5) {
                    tip = '请填写详细地址(请对自己负责)！';
                } else if ( re.test(city) || re.test(province)) {
                    tip = '请确认地址、城市、省区填写无误！';
                } else if (weeks.trim() !== '' && !week.test(weeks)){
                    tip = '请周数按照：第0周 格式填写。';
                } else if (vipcode.trim() !== '' && weeks.trim() === '') {
                    tip = '您填写了邀请码，请填写你当前的周报周次。';
                }
                if (tip === "") {
                    $.ajax({
                        url: url + pj + "useCodeReg",
                        method: "post",
                        data: data.field,
                        success: (res) => {
                            if (res.code !== 1) layer.msg(res.msg)
                            else layer.msg(res.data)
                        }
                    })
                } else {
                    layer.msg(tip);
                }
                return false;
            });

        });

    </script>
</body>
</html>